{% extends "admin_user/base.html" %}

{% block content %}
<!-- Contenedor principal -->
<div class="container">
    <!-- Incluye la barra lateral -->
    {% include 'admin_user/sidebar.html' %}
    <!-- Contenido principal de la página, con margen para ajustarse a la barra lateral -->
    <div class="content" style="margin-left: 300px; padding-top: 20px;">
        <!-- Título de la página -->
        <h1>Welcome to Home Page</h1>
        <!-- Contenido de la página de inicio -->
        <p>This is the home page content.</p>
    </div>
</div>
{% endblock %}