<!-- Carga la biblioteca de etiquetas 'static' para poder utilizar archivos estáticos como imágenes, CSS o JavaScript -->
{% load static %}

<!-- Contenedor principal de la barra lateral, con clases de flexbox de Bootstrap y estilos personalizados para ancho y altura fijos -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh; position: fixed;">
    <!-- Enlace al inicio del sitio web con el logotipo -->
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <!-- Imagen del logotipo, cargada desde los archivos estáticos -->
        <img src="{% static 'images/logo.png' %}" alt="logo" style="width: 100px;">
    </a>
    <!-- Línea horizontal de separación -->
    <hr>
    <!-- Lista de navegación con enlaces a diferentes vistas -->
    <ul class="nav nav-pills flex-column mb-auto">
        <!-- Elemento de navegación activo -->
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link active" aria-current="page">
                Home
            </a>
        </li>
        <!-- Elemento de navegación -->
        <li>
            <a href="{% url 'user_project_list' %}" class="nav-link link-dark">
                Modificar Proyectos
            </a>
        </li>
        <!-- Elemento de navegación -->
        <li>
            <a href="{% url 'report_view' %}" class="nav-link link-dark">
                Reportes
            </a>
        </li>
    </ul>
    <!-- Línea horizontal de separación -->
    <hr>
    <!-- Dropdown para mostrar opciones de autenticación -->
    <div class="dropdown">
        <!-- Verifica si el usuario está autenticado -->
        {% if user.is_authenticated %}
            <!-- Muestra el nombre de usuario autenticado y un botón para cerrar sesión -->
            <p class="mb-1">Logged in as: <strong>{{ user.username }}</strong></p>
            <a href="{% url 'logout' %}" class="btn btn-danger w-100">Logout</a>
        {% else %}
            <!-- Muestra un botón para iniciar sesión si el usuario no está autenticado -->
            <a href="{% url 'login' %}" class="btn btn-primary w-100">Login</a>
        {% endif %}
    </div>
</div>